.Body1-body2{
    font-weight: 800;
    color: darkorchid;
    font-size: 28px;
    padding-top: 20px;
}
.Body1-body4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Body1-body5 {
    /* border: 1px solid blue;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    background-color: blue;
    cursor: pointer; */
    padding: 15px;
}

.Body1-body5 a {
    background-color: blue;
    padding: 10px 20px 10px 20px;
    color: white;
    border-radius: 10px;
    font-size: 17px;

}
.Body1-body6{
    row-gap: 10px;
    margin-bottom: 15px;
    
}
.Body1-body7{
    background-color: lavenderblush;
}